

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url(photos/background-color.svg), url(photos/background-image.svg) ;
    background-size: 70vw, 38rem;
    background-position-x: center;
    background-repeat: repeat-y, repeat;
    display: flex;
    justify-content: center;
}

 body {
     width: 70vw;
 }

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70vw;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

p, li {
    font-size: 1.5rem;
    line-height: 1.5;
}

.border-box-1 {
    border: 3px solid rgb(65, 46, 173);
    border-right: none;
    border-left: none;
    background-color: rgb(247, 245, 108);  
    width: 70vw;
    height: 3.5rem;
    margin-top: 0;
  }

.languages {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;  
}

.languages li a {
    display: flex;  
}

.pl {
    margin-left: 0.5rem;
}

.tr {
    margin-left: 0.5rem;
}

.border-box-2 {
    width: 70vw;
    display: flex;
    align-items: center;
    height: 12rem;
    background-color: rgb(247, 136, 154); 
    border-top: 2px dashed white;
    border-bottom: 2px dashed white;
    margin-bottom: 0.9rem;
}

.architecture-text {
    font-size: 3.5rem;
    font-weight: normal;
    font-family: "bradley hand", cursive;
    color: rgb(65, 46, 173);
    flex: 2;
    text-align: right; 
}

.web-development-text {
    font-size: 3.5rem;
    font-weight: normal;
    font-family: "bradley hand", cursive;
    color: rgb(65, 46, 173);
    flex: 2;
    text-align: left;
}

.logo {
    flex: 2;
}

.border-box-3 {
    width: 70vw;
    height: 3.5rem;
    border: 3px solid rgb(65, 46, 173);
    border-right: none;
    border-left: none;
    background-color: rgb(247, 245, 108);
    margin-bottom: 0.9rem;
}

.menu ul {
    border: black;
    border-width: 5px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -0.5rem;
}

.menu a {
    text-transform: uppercase;
    font-size: 1.5rem;
    
    outline: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: black;  
}

.menu a:link, .menu a:focus, menu a:visited, menu a:active {
    color: rgb(115, 6, 119);
}

.menu a:hover {
    color: rgb(247, 136, 154);
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-photo {
    border-top: 3px solid white;
    width: 70vw;
    height: calc(70vw / 2);
    object-fit: cover;
    opacity: 0.9;
    border-bottom: 3px solid rgb(247, 136, 154);
    margin-bottom: 1.5rem;
}

.line-3 {
    border-bottom: 3px dashed rgb(65, 46, 173);
    width: 70vw;
    margin-bottom: 1.5rem;
}

.line-4 {
    border-bottom: 3px dashed rgba(255, 255, 255, 0.5);
    width: 70vw;
    margin-bottom: 3.5rem;
}

.line-5 {
    border-bottom: 3px dashed rgb(65, 46, 173);
    width: 70vw;
    margin-bottom: 6rem;   
}

.line-5a {
    border-bottom: 3px dashed rgba(255, 255, 255, 0.5);
    width: 70vw;
    margin-bottom: 8rem;
}

h1 {
    font-size: 6rem;
    font-weight: lighter;
    font-family: "bradley hand", cursive;
    color: white;
    opacity: 0.8;
    text-align: center;
    margin: 0;
    margin-bottom: 8rem; 
}

.texts li {
    display: flex;
    justify-content: center;
    width: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.line-6 {
    border-bottom: 3px solid white;
    width: 70vw;
}

.pic-1 {
    flex: 1;
}

.text-1 {
    
    background-color: rgb(107, 201, 201);
    padding-left: 2rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex: 2;
}

.line-7 {
    border-bottom: 3px dashed white;
    width: 70vw;
    margin-bottom: 7rem;
}

.line-8 {
    border-bottom: 3px dashed white;
    width: 70vw; 
}

.pic-2 {
    flex: 1;
}

.text-2 {
    
    background-color: rgb(107, 201, 201);
    padding-left: 2rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex: 2;
}

.line-9 {
    border-bottom: 3px dashed white;
    width: 70vw;
    margin-bottom: 7rem;
}

.line-10 {
    border-bottom: 3px dashed white;
    width: 70vw;
   
}

.pic-3 {
    top: 33.5rem;
    flex: 1;
}

.text-3 {
    
    background-color: rgb(107, 201, 201);
    padding-left: 2rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex: 2;
}

.line-11 {
    border-bottom: 3px solid white;
    width: 70vw;
    margin-bottom: 12rem;
}

hr {
    border-style: none;
}

.line-12 {
    border-bottom: 3px solid white;
    opacity: 0.5;
    width: 70vw;
    margin-bottom: 1rem;
}

.line-13 {
    border-bottom: 3px solid white;
    opacity: 0.5;
    width: 70vw;
}

iframe {
    width: 70vw;
    margin-bottom: -0.2rem;
}

.line-14 {
    border-bottom: 3px solid white;
    opacity: 0.5;
    width: 70vw;
    margin-bottom: 1rem;
}

.line-15 {
    border-bottom: 3px solid white;
    opacity: 0.5;
    width: 70vw;
    margin-bottom: 6rem;
}

.contact {
    display: flex;
    flex-wrap: wrap; 
    column-gap: 4rem;
    margin-bottom: 6rem;
}

.form {
   width: calc(35vw - 2rem);
   
}

.contact-details {
   width: 30vw;
   display: flex;
   
}

.address {
    
    background-color: rgb(132, 196, 196);
    width: calc(35vw - 2rem);
    padding-bottom: 0.9rem;
    margin-bottom: 1.5rem;
}

.working-hours { 
    background-color: rgb(132, 196, 196);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    color: rgb(148, 218, 218);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.social-media {
    display: flex;
    opacity: 0.6;
    padding-top: 0.7rem;
}

.form h2 {
    margin-top: 0;
    color: rgb(1, 70, 70);
    border-top: 3px dotted rgb(132, 196, 196); 
}

input[type="text"], input[type="tel"], input[type="email"], textarea[name="message"] {
    width: 100%;
}

input[type="submit"] {
    background-color:rgb(1, 94, 94);
    color: white;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-style: none;
    opacity: 0.9;
}

input[type="submit"]:hover {
    background-color: black;
}

::placeholder {
    font-family: Helvetica, Arial, sans-serif;
    color: darkcyan;
} 

.address h3 {
    font-size: 2rem;
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    color: rgb(148, 218, 218);
    background-color: rgb(1, 70, 70);
    margin-top: 0;
    padding-left: 1rem;
}

.address li {
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    color: white;
    line-height: 2;
    padding-left: 1rem;
}

.address strong {
    color: rgb(1, 70, 70);
}

.address a {
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    color: white;
    margin-left: 1.5rem;  
}

.address a:hover {
    color: rgb(1, 70, 70);
}

.philadelphia {
    margin-left: 6.5rem;
}

.working-hours h4{
    font-size: 1.8rem;
    padding-top: 0.3rem;
    padding-left: 1rem;
    background-color: rgb(1, 70, 70);
    margin-top: 0;
}

.working-hours p {
    color: rgb(1, 70, 70);
    padding-left: 1rem;
}

.working-hours strong {
    color: white;
}

.social-media li {
    display: flex;
    justify-content: space-around;
    width: 100%;  
}

.line-16 {
    border-bottom: 3px solid rgb(1, 70, 70);
    width: 70vw; 
    margin-bottom: 1rem;  
}

.line-17 {
    border-bottom: 3px solid rgb(1, 70, 70);
    width: 70vw;
}

footer p {
   text-align: center;
   color: rgb(1, 70, 70);
   margin: 0;
}

@media (max-width: 1150px) {
    body {
        background-color: darkcyan;
        background-image: none;    
    }
    .texts li { 
        flex-direction: column;
    }
    .pic-1 {
        width: 100%;
    }
    .pic-2 {
        width: 100%;
        order: -1;
    }
    .pic-3 {
        width: 100%;
    }
    .form {
        width: 70vw; 
     }
     .contact-details {
        width: 70vw; 
     }
     .address {
        width: 70vw;
    }
    .contact {
        margin-bottom: 3rem;
    }
    .working-hours { 
        margin-bottom: -0.3rem;
    }
}

@media (max-width: 1270px) {
    .architecture-text {
        font-size: 3rem;
    }
    .web-development-text {
        font-size: 3rem;
    }
}

@media (max-width: 660px) {
    html {
        background-image: none;
        background-color: darkcyan; 
    }
    body {
        width: 98vw;
    }
    .border-box-1, .border-box-2, .border-box-3 {
        width: 98vw;
    }
    .main-photo {
        width: 98vw;
        height: calc(98vw / 1.5);
    }
    .line-3, .line-4, .line-5, .line-5a, .line-6, .line-7, .line-8, .line-9, .line-10, .line-11, .line-12, .line-13, .line-14, .line-15, .line-16, .line-17 {
        width: 98vw;
    }
    .pic-1, .text-1, .pic-2, .text-2, .pic-3, .text-3 {
        width: 98vw;
    }
    iframe {
        width: 98vw;
    }
    .form, .address, .working-hours, .social-media {
        width: 98vw;
    }
   
}

@media (max-width: 472px) {
    html {
        background-image: none;
        background-color: darkcyan; 
    }
    .border-box-2 {
        flex-wrap: wrap;
    }
    .architecture-text {
        text-align: left;
        margin-top: -4rem;
        flex: 2;
    }
    .web-development-text {
        margin-top: -6rem;
        flex: 2;
    }
    .logo {
        margin-top: 0.5rem;
        flex: 1;
    }
}
@media print {
    body {
        font-size: 12pt;
    }
}

















